body {
  background-color: #ebebeb;
  max-width: 1440px;
  margin: auto;
}

.fa-arrow-left {
    position: relative;
    top: 22px;
    left: 30px;
    font-size: 1.4em;
    color: black;
    height: 50px;
    width: 50px;
}

#header img {
  transform: scale(.4);
  margin-left: auto;
  margin-right: auto;
  position: relative;
  right: 40px;
}

.mainimage img {
    max-width: 100%;
    height: auto;
    position: relative;
}

.menutitle {
    width: auto;
    height: 80px;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    padding-top: 100px;
    margin-top: -45px;
    position: relative;
    background-color: #ebebeb;
    justify-content: center;
}

.menutitle h2 {
    font-family: 'Shrikhand', 'Times New Roman', Times, serif;
    color: black;
    font-size: 1.7em;
    font-weight: 300;
    position: relative;
    top: -70px;
    left: 7%;
}

.form input[type="checkbox"]{
    display:none;  
  }
  .form input[type="checkbox"] + label.fa {
      color: #88E2E2;
      font-size: 25px;
      width: 25px;
      height: 25px;
      cursor: pointer;
  }
  .form input[type="checkbox"]:checked +label.fa{
      background: #fff;
  }
  .form input[type="checkbox"] + label.fa:before {
       display:inline-block;
       content: "\f004";
       font-weight: 400;
       color: #6d6c6c;
       cursor:pointer;
  }
  
  .form input[type="checkbox"]:checked +label.fa:before{
      content:"\f004";
      font-weight: 900;
      color: #9356DC;
      position: relative;
      background: #ebebeb;
  }

  .form {
    position: relative;
    left: 50px;
    top: -65px;
  }

  .menuheader {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding-right: 80px;
  }

  .menumain {
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    display: flex !important;
  }

  .menuitem, .entree, .plats, .desserts {
    flex-direction: column;
  }

  .menumain h3 {
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  .menumain h4, h5 {
    color: black;
    font-family: 'Roboto', sans-serif;
  }

  .plats h3, .desserts h3 {
    margin-top: 30px;
  }

  .menuitem {
    width: 350px;
    height: 65px;
    border-radius: 15px;
    background-color: white;
    margin-bottom: 15px;
    box-shadow: 3px 3px 10px rgba(68, 68, 68, 0.2);
    padding-left: 15px;
    flex-direction: row;
    overflow: hidden;
    position: relative;
  }

  .menuitemleft {
    flex-direction: column !important;
    display: flex;
    width: 280px;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: width .3s;
  }

  .menuitemright {
    flex-direction: row;
    height: 100%;
    position: absolute;
    right: 0;
  }

  .menuitemright h4 {
    width: 40px;
    text-align: center;
    padding-top: 35px;
    padding-bottom: 0px;
    padding-right: 0px;
    display: block;
    
  }

  .price {
    display: block;
    position: relative;
    left: 30px;
    transition: transform 330ms ease-in-out;
  }

  .menuitemleft h4 {
    font-size: 1.1em;
    font-weight: 500;
    padding-top: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    flex: 1;
    width: 100%;
    
  }

  .menuitemleft h5 {
    font-size: 1em;
    font-weight: 400;
    padding-top: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    flex: 1;
    width: 100%;
  }

  .tick {
    width: 70px;
    background-color: #99E2D0;
    height: 65px;
    justify-content: center;
    align-items: center;
    position: relative;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    right: -70px;
    transition: transform 330ms ease-in-out;
    transition-property: transform;
    }

  .fa-circle-check {
    color: white;
    font-size: 1.3em;
    font-family: FontAwesome;
    transition: transform .4s linear;
  }

  .menumain h3 {
    width: 50px;
    padding-bottom: 5px;
    border-bottom: 3px solid #99E2D0;
  }

  .orderbtn {
    color: white;
    background: rgb(255,121,218);
    background: linear-gradient(180deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 95%, rgba(147,86,220,1) 100%);
    font-size: 1.1em;
    padding: 15px;
    border-radius: 50px;
    width: fit-content;
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 70px;
    padding-left: 50px;
    padding-right: 50px;
    box-shadow: 2px 6px 15px 0px rgba(0,0,0,0.4);
    border: none;
    &:hover {
      box-shadow: 3px 3px 10px rgba(68, 68, 68, 0.8);
      cursor: pointer;
    }
}

  /* menu animations */

  .menuitem {
    transition-property: transform;
    &:hover {
    box-shadow: 3px 3px 10px rgba(68, 68, 68, 0.8);
    cursor: pointer;
    }
    &:hover .tick {
      transform: translate(-70px, 0vh);
    }
    &:hover .price {
      transform: translate(-35px, 0vh);
    }
    &:hover .menuitemleft {
      width: 63%;
    }
    &:hover .fa-circle-check {
      transform: rotate(360deg);
    }


  }

  /*desktop*/
  @media only screen
  and (min-width: 992px) {
    .menumain {
      flex-direction: row;
      margin-bottom: 0px;
    }

    .plats h3, .desserts h3 {
      margin-top: 0px;
    }

    .entree, .plats, .desserts {
      margin-left: 50px;
      margin-right: 50px;
    }

  }

  /*tablette*/
  @media only screen
  and (min-width: 768px)
  and (max-width: 991px) {
  
  
  
  }
    