body {
  background-color: #ebebeb;
  max-width: 1440px;
  margin: auto;
}

.fa-arrow-left {
  position: relative;
  top: 22px;
  left: 30px;
  font-size: 1.4em;
  color: black;
  height: 50px;
  width: 50px;
}

#header img {
  -webkit-transform: scale(0.4);
          transform: scale(0.4);
  margin-left: auto;
  margin-right: auto;
  position: relative;
  right: 40px;
}

.mainimage img {
  max-width: 100%;
  height: auto;
  position: relative;
}

.menutitle {
  width: auto;
  height: 80px;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  padding-top: 100px;
  margin-top: -45px;
  position: relative;
  background-color: #ebebeb;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menutitle h2 {
  font-family: 'Shrikhand', 'Times New Roman', Times, serif;
  color: black;
  font-size: 1.7em;
  font-weight: 300;
  position: relative;
  top: -70px;
  left: 7%;
}

.form input[type="checkbox"] {
  display: none;
}

.form input[type="checkbox"] + label.fa {
  color: #88E2E2;
  font-size: 25px;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.form input[type="checkbox"]:checked + label.fa {
  background: #fff;
}

.form input[type="checkbox"] + label.fa:before {
  display: inline-block;
  content: "\f004";
  font-weight: 400;
  color: #6d6c6c;
  cursor: pointer;
}

.form input[type="checkbox"]:checked + label.fa:before {
  content: "\f004";
  font-weight: 900;
  color: #9356DC;
  position: relative;
  background: #ebebeb;
}

.form {
  position: relative;
  left: 50px;
  top: -65px;
}

.menuheader {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding-right: 80px;
}

.menumain {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.menuitem, .entree, .plats, .desserts {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menumain h3 {
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.menumain h4, h5 {
  color: black;
  font-family: 'Roboto', sans-serif;
}

.plats h3, .desserts h3 {
  margin-top: 30px;
}

.menuitem {
  width: 350px;
  height: 65px;
  border-radius: 15px;
  background-color: white;
  margin-bottom: 15px;
  -webkit-box-shadow: 3px 3px 10px rgba(68, 68, 68, 0.2);
          box-shadow: 3px 3px 10px rgba(68, 68, 68, 0.2);
  padding-left: 15px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow: hidden;
  position: relative;
}

.menuitemleft {
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: column !important;
          flex-direction: column !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid black;
  width: 280px;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-transition: width .3s;
  transition: width .3s;
}

.menuitemright {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
  position: absolute;
  right: 0;
}

.menuitemright h4 {
  width: 40px;
  text-align: center;
  padding-top: 35px;
  padding-bottom: 0px;
  padding-right: 0px;
  border: 1px solid black;
  display: block;
}

.price {
  display: block;
  position: relative;
  left: 30px;
  -webkit-transition: -webkit-transform 330ms ease-in-out;
  transition: -webkit-transform 330ms ease-in-out;
  transition: transform 330ms ease-in-out;
  transition: transform 330ms ease-in-out, -webkit-transform 330ms ease-in-out;
}

.menuitemleft h4 {
  font-size: 1.1em;
  font-weight: 500;
  padding-top: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
}

.menuitemleft h5 {
  font-size: 1em;
  font-weight: 400;
  padding-top: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
}

.tick {
  width: 70px;
  background-color: #99E2D0;
  height: 65px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  right: -70px;
}

.fa-circle-check {
  color: white;
  font-size: 1.3em;
  font-family: FontAwesome;
  -webkit-animation: spin 1.2s linear 1;
  animation: spin 1.2s linear 1;
}

.menumain h3 {
  width: 50px;
  padding-bottom: 5px;
  border-bottom: 3px solid #99E2D0;
}

/* menu animations */
.menuitem {
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.menuitem:hover {
  -webkit-box-shadow: 3px 3px 10px rgba(68, 68, 68, 0.8);
          box-shadow: 3px 3px 10px rgba(68, 68, 68, 0.8);
  cursor: pointer;
}

.menuitem:hover .tick {
  -webkit-transform: translate(-70px, 0vh);
          transform: translate(-70px, 0vh);
}

.menuitem:hover .price {
  -webkit-transform: translate(-35px, 0vh);
          transform: translate(-35px, 0vh);
}

.menuitem:hover .menuitemleft {
  width: 63%;
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.tick {
  -webkit-transition: -webkit-transform 330ms ease-in-out;
  transition: -webkit-transform 330ms ease-in-out;
  transition: transform 330ms ease-in-out;
  transition: transform 330ms ease-in-out, -webkit-transform 330ms ease-in-out;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

/*desktop*/
@media only screen and (min-width: 992px) {
  .menumain {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 40px;
  }
  .plats h3, .desserts h3 {
    margin-top: 0px;
  }
  .entree, .plats, .desserts {
    margin-left: 50px;
    margin-right: 50px;
  }
}

/*tablette*/
/*# sourceMappingURL=restaustyles.css.map */