* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #ebebeb;
  /*max-width: 1440px;*/
  margin: auto;
}

div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  color: #9356DC;
}

#header {
  -webkit-box-shadow: 0px 5px 7px -3px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 5px 7px -3px rgba(0, 0, 0, 0.3);
  padding-top: 5px;
  background-color: white;
}

#header img {
  -webkit-transform: scale(0.4);
          transform: scale(0.4);
  margin-left: auto;
  margin-right: auto;
  position: relative;
  right: 15px;
}

#location {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #403f3f;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: -10px;
  height: 50px;
}

#location .fa-location-dot {
  font-size: 1em;
}

#location h3 {
  color: #403f3f;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 1em;
}

#explore {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 60px;
  background-color: #f7f7f7;
}

#explore h2 {
  color: black;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.7em;
  font-weight: 700;
  line-height: 110%;
}

#explore h3 {
  color: #6d6c6c;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.2em;
  font-weight: 400;
  line-height: 110%;
  padding-top: 20px;
}

#explore h4 {
  color: white;
  background: #ff79da;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), color-stop(95%, #9356dc), to(#9356dc));
  background: linear-gradient(180deg, #ff79da 0%, #9356dc 95%, #9356dc 100%);
  font-size: 1.1em;
  padding: 15px;
  border-radius: 50px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  -webkit-box-shadow: 2px 6px 15px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 2px 6px 15px 0px rgba(0, 0, 0, 0.4);
}

#fonctionnement {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  padding-top: 50px;
  padding-bottom: 50px;
}

#fonctionnement h2, h3, h4 {
  color: black;
}

#fonctionnement h2 {
  position: relative;
  left: -85px;
  padding-bottom: 30px;
}

.step {
  width: 320px;
  height: 80px;
  border-radius: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  -webkit-box-shadow: 2px 6px 15px -2px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 6px 15px -2px rgba(0, 0, 0, 0.2);
  background-color: #f7f7f7;
}

.step h4 {
  color: white;
  background-color: #9356DC;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  position: relative;
  left: -12px;
  font-weight: 400;
  text-align: center;
  padding-top: 3px;
  padding-right: 1.5px;
}

.step .fa-solid {
  color: #6d6c6c;
  font-size: 1.3em;
  padding-left: 10px;
}

.step h3 {
  padding-left: 15px;
}

#restaurants {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 30px;
  padding-bottom: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  overflow: hidden;
}

#restaurants h2 {
  position: relative;
  left: -105px;
  padding-bottom: 30px;
  color: black;
}

.restaurantcard {
  width: 340px;
  height: 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  border: solid 5px white;
  border-radius: 15px;
  -webkit-box-shadow: 3px 3px 10px rgba(68, 68, 68, 0.2);
          box-shadow: 3px 3px 10px rgba(68, 68, 68, 0.2);
  margin-bottom: 30px;
}

.restaurantcard img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 180px;
  width: 340px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -o-object-fit: cover;
     object-fit: cover;
  margin-left: -5px;
  margin-top: -5px;
}

.restaurantcard h3 {
  font-size: 1.2em;
  font-weight: 600;
  padding-top: 15px;
  padding-left: 10px;
}

.restaurantcard h4 {
  font-size: 1.2em;
  font-weight: 300;
  padding-top: 5px;
  padding-left: 10px;
}

/*heart animation*/
.form input[type="checkbox"] {
  display: none;
}

.form input[type="checkbox"] + label.fa {
  color: #88E2E2;
  font-size: 25px;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.form input[type="checkbox"]:checked + label.fa {
  background: #fff;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: -webkit-transform 330ms ease-in-out;
  transition: -webkit-transform 330ms ease-in-out;
  transition: transform 330ms ease-in-out;
  transition: transform 330ms ease-in-out, -webkit-transform 330ms ease-in-out;
}

.form input[type="checkbox"] + label.fa:before {
  display: inline-block;
  content: "\f004";
  font-weight: 400;
  color: #6d6c6c;
  cursor: pointer;
}

.form input[type="checkbox"]:checked + label.fa:before {
  content: "\f004";
  font-weight: 900;
  color: #9356DC;
  position: relative;
  background: transparent;
}

.form {
  position: relative;
  left: 280px;
  bottom: 40px;
}

/* footer */
footer {
  background-color: #403f3f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 30px;
}

footer h2 {
  font-family: 'Shrikhand', 'Times New Roman', Times, serif;
  color: white;
  font-size: 1.1em;
  padding-left: 25px;
  font-weight: 100;
  padding-top: 35px;
}

footer h3 {
  color: white;
  font-size: 1em;
  font-weight: 500;
  padding-top: 10px;
}

footer h4 {
  color: white;
  font-size: 1em;
  font-weight: 300;
  padding-left: 25px;
  padding-top: 10px;
}

footer .fa-solid {
  display: inline;
  color: white;
  padding-left: 25px;
  padding-right: 15px;
  font-size: .8em;
}

/*desktop*/
/*tablette*/
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .restaurantcard {
    width: 500px;
  }
  .restaurantcard img {
    width: 500px;
  }
  .form {
    left: 450px;
  }
}
/*# sourceMappingURL=style.css.map */