$primary-color: #9356DC !default;
$secondary-color: #FF79DA !default;
$third-color: #99E2D0 !default;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: 'Shrikhand', sans-serif; 
    color: $primary-color;
}

#header img {
    transform: scale(.5);
  } 